
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}
/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid1{
  padding: 0% 14% 0% 16%;
  background-color: #1d1d1f;
  width: 100%;
  z-index: 1;
  position: fixed;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: Black;
}

/* Navigation Bar */

.navbar {
  padding: 6px 0 12px;
  margin-top: 0px;
  background-color: #1d1d1f;
}
.logo{
  width: 40px;
  height: 30px;

}
.nav-item {
  padding: 0 3px;
  color: #f5f5f8;
  font-size: 12px;
  font-weight: 400;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial","sans-serif";
}
.nav-item-icon{
  color: white;
  border-color: #00000;
  font-size: 12px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial","sans-serif";
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  color: #f5f5f7;
}
.big-heading1{
  font-size: 48px;
  padding-top: 50px;
  color: Black;
  text-align: center;
      line-height: 1.08349;
      font-weight: 600;
      letter-spacing: -.002em;
      font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial","sans-serif";
}
.big-heading2{
  font-size: 24px;
  text-align: center;
  color: Black;
      line-height: 1.08349;
      font-weight: 600;
      letter-spacing: -.002em;
      font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial","sans-serif";
}

.big-heading3{
  font-size: 19px;
  text-align: center;
  padding-top: px;
  color: #6e6e73;
      line-height: 1.08349;
      font-weight: 600;
      letter-spacing: -.002em;
      font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial","sans-serif";
}
.big-heading4{
  font-size: 20px;
  text-align: center;
  padding-top:60px;
  color: white;
      line-height: 1.08349;
      font-weight: 800;
      letter-spacing: -.002em;
      font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial","sans-serif";
}
.big-heading5{
  font-size: 17px;
  text-align: center;
  padding-top: 10px;
  color: white;
      line-height: 1.08349;
      font-weight: 600;
      letter-spacing: -.002em;
      font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial","sans-serif";
}
.big-heading3{
  font-size: 19px;
  text-align: center;
  padding-top: 20px;
  color: #6e6e73;
      line-height: 1.08349;
      font-weight: 600;
      letter-spacing: -.002em;
      font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial","sans-serif";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #fbfbfd;
  color: #fbfbfd;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 50%;
  padding-right: 80px;
  border-radius: 60px;
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}
.tv{
  width:60%;
}

.card-image{
  width: 100%;
}
/* Testimonial Section */

#testimonials {
  background-color: grey;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
